<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b6iq3hiBmufi4L6k6Lcb8F7VdODBX4n3qRI9bI6zZxFNqE+po2U1xFjZlFqBA2TB" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/test.css') }}">
        <title>Login</title>
    </head>
    <body>
        <div class="d-flex justify-content-center">
            <div style="width: 246px;">
                <a class="d-flex" id="logo" href="/login" style="width: 246px;">
                    <img class="" src="https://welcome.test-correct.nl/svg/logos/Logo-Test-Correct-2.svg" alt="Test-Correct">
                </a>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-sm-center">
            <div class="login-container">
                <div class="row">
                    <div class="d-flex justify-content-sm-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                        <g fill="none" fill-rule="evenodd">
                        <g>
                            <g>
                                <g transform="translate(-360 -182) translate(320 142) translate(40 40)">
                                    <circle cx="32" cy="32" r="30.5" fill="#CEDAF3" stroke="#041F74" stroke-width="3"></circle>
                                    <g>
                                        <path fill="#3ab753" stroke="#041F74" stroke-width="3" d="M28 15l.5 20.5L2 36l-.5-20.5L28 15z" transform="translate(17 13.5)"></path>
                                        <path fill="#041F74" d="M15 20.5c1.657 0 3 1.343 3 3 0 .962-.453 1.818-1.157 2.367L18 30.5h-6l1.158-4.632C12.453 25.32 12 24.463 12 23.5c0-1.657 1.343-3 3-3z" transform="translate(17 13.5)"></path>
                                        <path stroke="#041F74" stroke-width="3" d="M6.5 15V4c0-2.21 1.79-4 4-4h9c2.21 0 4 1.79 4 4v11h0" transform="translate(17 13.5)"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                        </g>
                        </svg>
                    </div>
                </div>

                <br>  
   
                <form method="post">
                <label for="username" class="form-label">Gebruikersnaam:</label>
                <input type="text" id="username" class="form-control" name="username" required><br>
                <label for="password" class="form-label">Wachtwoord:</label>
                <input type="password" id="password" class="form-control" name="password" required><br>
                <div class="text-center">
                    <input type="submit" id="go" class="btn btn-primary" value="Inloggen">
                </div>
                <form><br>
                <div class="messagesbox">
                    {%  for message in get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </body>    
</html>

